
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');


body {
  font-family: 'Lexend', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}