.container {
  margin-right: 88vh;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 3vh;
  width: 100%; /* Adjust as needed */
  max-width: 136vh; /* Adjust as needed */
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left,
.right {
  color: rgb(113, 108, 108); /* Adjust as needed */
}
